.App {
  display: flex;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  flex-direction: column;
}

.App h1 {
  text-align: center;
}
body {
  margin: 0%;
  padding: 0%;
  background: gray;
}

.TitleSection {
  background-color: #5d89ff;
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.TitleSection input {
  width: 200px;
  height: 40px;
  border-radius: 10px;
  border: 1px solid #4ca8ee;
  font-size: 18px;
  padding-left: 10px;
}

.TitleSection button {
  width: 180px;
  height: 40px;
  border-radius: 10px;
  border: 1px solid #4ca8ee;
  font-size: 18px;
  padding-left: 10px;
  border: none;
  color: white;
  background-color: rgb(14, 98, 98);
}

.TitleSection button:hover {
  cursor: pointer;
}

.DisplaySelection {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.DisplaySelection h4, h3 {
  margin: 5px;
}

.DisplaySelection img {
  width: 200px;
}




.users {
  background-color: grey;
  display: none;
  border: #5d89ff;
  
}

.trainer {
  padding: 0 10px 0 0; 
}

.users button {
  border-radius: 5px;
  width: 100px;
  height: 40px;
  border: 1px solid #4ca8ee;
  font-size: 18px;
  background-color: #5d89ff;

}

.user button:hover {
  cursor: pointer;
}

form {
  background-color: rgb(184, 41, 41);
}

label {
  font-family: 'Nabla', cursive;
}

input {
  border-radius: 5px;
  font-family: 'Nabla', cursive;
  cursor: pointer;
  background-color: rgb(14, 98, 98);
  display: flex;
  
}

details {
  padding-right: 5px;
  padding-left: 5px;
  
}

button {
  cursor: pointer;
}

.add {
  border: #5d89ff;
  border-radius: 10px;
  background-color: #4ca8ee;
  font-family: 'Silkscreen', cursive;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 150px;
  
}

.show {
  border:#5d89ff;
  border-radius: 10px;
  background-color: aquamarine;
  font-family: 'Silkscreen', cursive;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 150px;
}

.users {
  font-family: 'Silkscreen', cursive;
  color:rgb(3, 90, 90);
}

.stats  {
  display: inline-block;
}

.pokemon {
display: inline-block;
}

.stats {
  align-items: center;
  margin-left: 500px;
}
